{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Student Management System</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container">

        <h1>🎓 Student Management System</h1>

        {% for student in students %}

        <div class="student-card">

            <h2>{{ student.name }}</h2>

            <p>
                <strong>Student ID:</strong>
                {{ student.student_id }}
            </p>

            <p>
                <strong>Email:</strong>
                {{ student.email }}
            </p>

            <p>
                <strong>Department:</strong>
                {{ student.department.name }}
            </p>

        </div>

        {% empty %}

        <div class="no-student">
            <p>No students found.</p>
        </div>

        {% endfor %}

    </div>

</body>

</html>